body {
  font-family: "Roboto", sans-serif;
}

.main {
  position: relative;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(222, 168, 248) 0%,
    rgb(168, 222, 248) 21.8%,
    rgb(189, 250, 205) 35.6%,
    rgb(243, 250, 189) 52.9%,
    rgb(250, 227, 189) 66.8%,
    rgb(248, 172, 172) 90%
  );
  border-color: #f4e711;
  border-style: solid;
  border-width: 2px;
  width: 700px;
  border-radius: 15px;
  height: 430px;
}

.input {
  background: #fffdec;
  border: none;
  margin-left: 27px;
  width: 40%;
  font-size: 28px;
  border-radius: 3px;
  box-shadow: 5px 5px 5px #ccc9d3;
  outline: none;
  color: #5e6576;
  font-size: 24px;
  padding-left: 10px;
  font-weight: 600;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}

.button {
  color: #5e6576;
  font-weight: bolder;
  transition: all 300ms ease-in-out;
  box-shadow: 2px 2px 2px #ccc9d3;
  border-radius: 10px;
}

.button:hover {
  cursor: pointer;
}

.button:active {
  background: rgb(247, 234, 234);
  color: white;
}

.search {
  background: #fde9ad;
  font-size: 24px;
  padding: 5px 20px;
  width: 170px;
  border-color: #ffa726;
  border-style: solid;
}

.current {
  font-size: 24px;
  padding: 5px 20px;
  background: #e7efb6;
  border-color: #8ec351;
  border-style: solid;
  width: 170px;
}

.cities {
  color: #006ec5;
  font-size: 24px;
  font-weight: 700;
  padding: 20px 60px;
}

.col {
  display: inline-block;
  padding: 0 20px;
  transform: all 200ms ease-in-out;
}

.col:hover {
  cursor: pointer;
  color: #4fa6e8;
}

.col2 {
  display: inline-block;
  padding: 0 30px;
}

.currentcity {
  color: #016fc6;
  font-size: 48px;
  font-weight: bold;
  font-style: italic;
  padding-left: 60px;
  line-height: 30px;
}

.dayofweekanftime {
  color: #016fc6;
  font-size: 34px;
  font-style: italic;
  padding-left: 95px;
  line-height: 70px;
}

.weathericon {
  left: 45px;
  position: absolute;
  bottom: 113px;
}

.slash {
  color: #4558c3;
  font-size: 30px;
  font-weight: bold;
}

.currenttemperature {
  color: #4558c3;
  font-size: 70px;
  font-weight: bold;
  position: absolute;
  bottom: 125px;
  left: 140px;
}

.metric {
  position: absolute;
  left: 230px;
  bottom: 160px;
}

.active {
  color: #4558c3;
}

.noactive {
  color: #71aedc;
}

.noactive:hover {
  cursor: pointer;
  text-decoration: underline;
}

.fahrenheitelement,
.celsiuselement {
  font-size: 30px;
  font-weight: bold;
  padding-left: 5px;
  text-decoration: none;
}

.fahrenheit:hover,
.celsius:hover {
  color: #4fa6e8;
}

.discription {
  color: #348bc7;
  position: absolute;
  left: 420px;
  bottom: 127px;
  font-style: italic;
  font-size: 20px;
  line-height: 45px;
  list-style-type: none;
}

.weatherdiscription {
  text-transform: capitalize;
}

.weekforecast {
  color: #5a6275;
  position: absolute;
  left: 70px;
  bottom: 20px;
  font-size: 24px;
}

.buildby {
  padding-top: 15px;
  padding-left: 15px;
}

.sourcelink {
  text-decoration: none;
}

.sourcelink:hover {
  text-decoration: underline;
}
